<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Sobre Nosotros</h2>
  <p>
    Music es una compañía que te permite escuchar la canción que desees
  </p>
  

{{#link-to 'contact' class="button"}}
    ¡Escuchalas todas!
{{/link-to}}
</div>

{{outlet}}